html,
body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.main-header {
    background-color: #262626;
    position: relative;
    z-index: 1000;
}

.logo-img {
    max-height: 55px;
    width: auto;
}

.nav-list-custom .nav-link {
    color: #fff !important;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 30px !important;
    transition: 0.3s;
}

.nav-list-custom .nav-link:hover,
.nav-list-custom .nav-link.active {
    color: #cf9d46 !important;
}

.btn-reserve {
    background-color: #cf9d46;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
}

.btn-reserve:hover {
    background-color: #b58635;
    color: #fff;
}

.hero-section {
    background-image:
        linear-gradient(to bottom, rgba(255, 251, 239, 0.01), rgba(255, 251, 239, 0.01)),
        url('../images/background.png');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.hero-title {
    font-family: 'Abhaya Libre', serif;
    font-size: 56px;
    color: #262626;
    font-weight: 700;
    line-height: 1.2;
}

.btn-hero {
    display: inline-block;
    background-color: #cf9d46;
    color: #fff;
    padding: 15px 40px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.3s;
}

.btn-hero:hover {
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0px 20px 40px rgba(255, 202, 95, 0.5);
}

.hero-location {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
}

.social-icon {
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.social-icon:hover {
    background: #cf9d46;
    border-color: #cf9d46;
    color: #fff;
}

.opening-hours-section {
    background: linear-gradient(to bottom, #FFE6B2 0%, #FFF3D7 30%, #ffffff 100%);
    padding: 30px 0;
}

.section-title {
    font-family: 'Abhaya Libre', serif;
    font-size: 42px;
    font-weight: 700;
    color: #262626;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    margin-bottom: 20px;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background-color: #262626;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.hours-list {
    font-size: 18px;
    line-height: 2;
}

.banner-box {
    background-image: url('../images/banner.png');
    width: 100%;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay {
    background-color: rgba(36, 36, 36, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
}

.banner-title {
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-outline {
    width: 250px;
    padding: 12px 0;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    transition: 0.3s;
}

.btn-outline:hover {
    background: #fff;
    color: #262626;
}

.contact-title {
    font-family: 'Abhaya Libre', serif;
    font-size: 48px;
    color: #685951;
    font-weight: 700;
}

.contact-desc {
    font-size: 14px;
    color: #685951;
    line-height: 1.6;
}

.form-input {
    background: transparent;
    border: 1px solid #ccc;
    padding: 12px;
}

.form-input:focus {
    border-color: #cf9d46;
    box-shadow: none;
}

.btn-send {
    background-color: #CB8B34;
    color: white;
    padding: 10px 40px;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.3s;
}

.btn-send:hover {
    background-color: #b58635;
}

.main-footer {
    background-color: #292929;
    color: #FFFBEF;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.footer-logo-img {
    max-width: 180px;
    display: block;
}

.contact-list li {
    color: #FFFBEF;
    display: flex;
    align-items: center;
}

.contact-list i {
    width: 20px;
    color: #FFFBEF;
}

.footer-heading {
    font-weight: 500;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
}

.footer-heading::after {
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #999;
    margin: 8px auto 0;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.footer-bottom a {
    color: #FFFBEF !important;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #cf9d46 !important;
}

.footer-divider {
    height: 1px;
    background-color: #444;
    width: 100%;
    margin: 0;
}

.footer-heading {
    font-weight: 500;
}

.footer-links a:hover {
    color: #cf9d46 !important;
}

.page-banner {
    background-image:
        linear-gradient(to bottom, rgba(255, 251, 239, 0.01), rgba(255, 251, 239, 0.01)),
        url('../images/background.png');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.banner-subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #CB8B34;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 10px;
}

.banner-title {
    font-family: 'Abhaya Libre', serif;
    font-size: 42px;
    font-weight: 700;
    color: #2c2c2c;
    margin: 0;
    line-height: 0.7;
}

.banner-services-title {
    font-family: 'Abhaya Libre', serif;
    font-size: 42px;
    font-weight: 700;
    color: #2c2c2c;
    margin: 0;
    line-height: 0.7;
}

.gallery-section {
    padding: 60px 0;
    background-color: #fff;
}

.gallery-group {
    margin-bottom: 50px;
}

.gallery-title {
    font-family: 'Abhaya Libre';
    font-size: 24px;
    font-weight: 800;
    color: #333;
    margin-bottom: 25px;
    text-align: left;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-img:hover {
    transform: translateY(-5px);
}

.services-banner {
    background-image:
        linear-gradient(to bottom, rgba(255, 251, 239, 0.01), rgba(255, 251, 239, 0.01)),
        url('../images/background.png');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.service-detail-section {
    background-color: #f2f2f2;
    padding-top: 60px;
    padding-bottom: 100px;
}

.custom-accordion .accordion-item {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
    background-color: transparent;
    overflow: hidden;
    position: relative;
}

.custom-accordion .accordion-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    height: 1px;
    background-color: #c6c7c7;
    z-index: 10;
}

.custom-accordion .accordion-item:last-child::after {
    display: none;
}

.custom-accordion .accordion-button {
    background-color: #ffffff;
    color: #333333;
    font-family: 'Abhaya Libre', serif;
    font-size: 22px;
    font-weight: 700;
    box-shadow: none;
    padding: 20px 25px;
    transition: background-color 0.4s ease, color 0.4s ease;
}

.custom-accordion .accordion-button::after {
    transition: transform 1s ease, filter 0.4s ease;
}

.custom-accordion .accordion-button:not(.collapsed) {
    background-color: #c68c35;
    color: #ffffff;
}

.custom-accordion .accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1);
    transform: rotate(-180deg);
}

.custom-accordion .accordion-button.collapsed::after {
    filter: none;
    transform: rotate(0deg);
}

.custom-accordion .accordion-body {
    padding: 10px 40px;
    background-color: #ffffff;
    color: #333;
    font-family: 'Poppins', sans-serif;
}

.service-desc {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #212529;
}

.service-items li {
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
    color: #555;
    margin-left: 20px;
}

.service-items li:last-child {
    border-bottom: none
}

.collapsing {
    transition: height 0.6s ease-in-out !important;
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #ffffff;
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        padding-top: 80px;
        padding-left: 30px;
        transform: translateY(-100%);
        transition: transform 0.2s ease-out !important;
    }

    .navbar-collapse.show {
        transform: translateY(0);
    }

    .nav-list-custom {
        width: 100%;
        text-align: left;
        padding: 0;
    }

    .nav-list-custom .nav-link {
        color: #262626 !important;
        font-size: 20px;
        margin-bottom: 15px;
        display: block;
    }

    .btn-close-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        background: none;
        border: none;
        font-size: 40px;
        line-height: 1;
    }

    .hero-section {
        padding: 60px 0;
    }

    .hero-title {
        font-size: 36px;
    }

    .services-banner-section .container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        max-width: 100% !important;
        width: 100% !important;
    }

    .banner-box {
        height: auto !important;
        width: 100%;
        aspect-ratio: 16/9;
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        border-radius: 0 !important;
        border-left: none !important;
        border-right: none !important;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        overflow: hidden;
    }

    /* .banner-box {
        height: auto !important;
        width: 100%;
        aspect-ratio: 16/9; 
        background-size: cover !important;
        background-position: center center !important;
        background-repeat: no-repeat !important;
        border: 1px solid #fff;
        border-radius: 10px;
        overflow: hidden;
    } */

    .banner-subtitle{
        margin-bottom: 20px;
    }

    .banner-title {
        font-size: 20px !important;
        margin-bottom: 15px !important;
        line-height: 1.8;
    }

    .banner-services-title{
        font-size: 22px;
        line-height: 0.2;
    }

    .btn-outline {
        font-size: 12px !important;
        padding: 10px 30px !important;
        width: 100% !important;
        border-width: 1px;
    }

    .banner-box .d-flex.gap-3 {
        gap: 8px !important;
    }

    .banner-box .overlay {
        padding: 10px !important;
    }

    .section-title,
    .contact-title {
        font-size: 32px;
    }

    .map-frame {
        height: 300px;
    }

    .footer-heading,
    .footer-links,
    .footer-col {
        text-align: left !important;
    }

    .page-banner {
        padding: 50px 0;
    }
}

@media (min-width: 992px) {
    .main-header .container-fluid {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
}